@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background-color: black;
    background-image: url('../images/background.png');
    background-size: cover;
    font-size: 62.5%;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 18rem 18rem 8rem 18rem;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    padding: 4rem 18rem;
}

.navBar {
    justify-content: center;
    align-items: center;
    margin-right: 36rem;
    list-style-type: none;
}

.hidden {
    display: none
}

.navText, .buttonText, .bodyText, .formText, ::placeholder {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

.formText, ::placeholder {
    font-weight: 500;
    font-size: 2.37rem;
}

.bodyText {
    font-size: 2.2rem;
    max-width: 84.1rem;
}

.textEm {
    font-style: italic;
}


.navText {
    margin: 1rem;  
    font-weight: 500; 
}

.link {
    color: #2F80ED;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 7.2rem;
    line-height: 8.4rem;
    color: white;
    max-width: 85rem;
    min-width: 45rem;
    margin-bottom: 2rem;
}

.button {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    width: max-content;
}

.button:hover {
    background: #2F80ED;
}

.padS {
    padding: 1.6rem 1.8rem;
}

.padMed {
    padding: 1.6rem 5.5rem;
}

.hover {
    background: #2F80ED;
}

.memberCard {
    border-radius: 2rem;
    background:rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    margin: 1.8rem;
    padding: 2rem 4rem;
    align-items: center;
    max-width: 30rem;
    min-width: 25rem;
}

.memberImage {
    border-radius: 100%;
    width: 14.5rem;
    height: 14.5rem;
}

.memberName, .memberBody {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.575rem;
    color: white;
    text-align: center;
    margin-bottom: 3.2rem;
    line-height: 1.89rem;
    max-width: 28rem;
}

.memberName {
    font-size: 2.78rem;
    margin: 2.2rem
}

.memberCardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.socialIcons {
    width: 9rem;
    justify-content: space-between;
    display: flex;
    margin-bottom: 2rem;
    
}

.formField {
    border-radius: 1rem;
    background:rgba(255, 255, 255, 0.2);
    padding: 1.55rem 2.25rem;
    margin: 0 2.6rem 3.55rem 0;
    border: 0;
    min-height: 6rem;
    flex: 1;
    min-width: 10rem;
}

.formField:last-child, .long {
    margin-right: 0;
}

.contactText {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.6rem;
    color: white;
    max-width: 43.2rem;
    margin-bottom: 3rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
    width: 64rem;
    height: 64rem;
    min-width: 40rem;
}

.contactSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
